
.app-container {
  width: 100vw; 
  min-height: 100vh;
  background: linear-gradient(135deg, #000000, #e5e7eb);
  text-align: center;
  padding: 40px 0;
  box-sizing: border-box;
}


.title {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 40px;
}


.team-horizontal {
  display: flex;
  justify-content: center;  
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;        
  width: 100%;            
  max-width: 1200px;        
  margin: 0 auto;         
  padding: 0 20px;          
  box-sizing: border-box;
}
